/* TaskPanel.css */
.TaskPanel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    height: 96%;
    /* Set the height to 100% */
    overflow-y: auto;
    overflow: hidden;
    background-color: #2C3E50;
    /* A dark shade for background */
    color: #8fe9ff;
    /* A light shade for text */
    padding: 20px;
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

.task-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #34495E;
    /* A slightly lighter shade for the header */
}

.task-timer {
    font-weight: bold;
    font-size: 1.2em;
    /* Slightly larger font for the timer */
}

.reset-button{
    cursor: pointer;
}

.expand-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #18BC9C;
    /* A color that stands out for the button */
}

.task-panel-footer {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.code {
    background-color: #ECF0F1;
    color: #2C3E50;
    padding: 4px;
    border-radius: 4px;
    /* Rounded corners for code blocks */
}

.task-panel-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    /* Rounded edges for a modern look */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    background-position: center;
}

.task-panel-footer button:active {
    transform: scale(0.98);
    /* Mimics button press */
}

/* 'Check' button specific styles */
.task-panel-footer button.check-button {
    background-color: #4CAF50;
    /* Green */
    color: white;
    background-image: linear-gradient(to right, #4CAF50 0%, #81C784 51%, #4CAF50 100%);
}

.task-panel-footer button.check-button:hover {
    background-position: right center;
    /* shift the background */
    color: #fff;
    text-decoration: none;
}

/* 'Try Later' button specific styles */
.task-panel-footer button.skip-button {
    background-color: #FFC107;
    /* Amber */
    color: white;
    background-image: linear-gradient(to right, #FFC107 0%, #FFD54F 51%, #FFC107 100%);
}

.task-panel-footer button.skip-button:hover {
    background-position: right center;
    /* shift the background */
    color: #fff;
    text-decoration: none;
}