.figure-option {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}

.figure-option__image {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    min-width: 300px;
    max-width: 400px;
    object-fit: contain;
    object-position: bottom;
}

.figure-option__figcaption {
    margin-right: 1rem;
}